.all-projects-page,
.all-todos-page,
.today-todos-page {
  width: 100%;
}

.page-header {
  width: 100%;
  background: var(--nav-gradient-background);
  color: var(--secondary-color);
  margin-bottom: 15px;
}

.page-title {
  font-family: "RobotoBlack";
  text-shadow: var(--logo-text-shadow);
  padding: 20px;
  text-align: center;
}

@media all and (max-width: 450px) {
  .page-title {
    font-size: 0.9rem;
    text-shadow: var(--logo-text-shadow);
    padding: 20px;
    margin-bottom: 10px;
  }
}
