.modal-overlay {
  position: fixed;
  inset: 0;
  background: var(--header-gradient-background);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
  max-width: 500px;
  box-shadow: var(--main-box-shadow);
  position: relative;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
